<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h1>Animations</h1>
      <button class="btn btn-primary mr-1" (click)="onAnimate()">
        Animate!
      </button>
      <button class="btn btn-primary" (click)="onShrink()">Shrink!</button>
      <hr />
      <div
        [@divState]="state"
        (@divState.start)="animationStarted($event)"
        (@divState.done)="animationEnded($event)"
        style="width: 100px; height: 100px; margin-bottom: 10px"
      ></div>
      <div [@wildState]="wildState" style="width: 100px; height: 100px"></div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control mr-1" #input />
      <button class="btn btn-primary mt-3" (click)="onAdd(input.value)">
        Add Item!
      </button>
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          [@list1]
          (click)="onDelete(item)"
          *ngFor="let item of list"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          [@list2]
          (click)="onDelete(item)"
          *ngFor="let item of list"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
