<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{ 'background-color': odd % 2 !== 0 ? 'coral' : null }"
          >
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of numbers"
            [ngClass]="{ odd: number % 2 !== 0, all: number % 2 === 0 }"
            [ngStyle]="{
              'background-color': number % 2 !== 0 ? 'coral' : 'palegreen'
            }"
          >
            {{ number }}
          </li>
          <br />
        </div> -->
      </ul>
      <div *appUnless="onlyOdd">
        <li
          class="list-group-item"
          *ngFor="let odd of oddNumbers"
          [ngClass]="{ odd: odd % 2 !== 0 }"
          [ngStyle]="{ 'background-color': odd % 2 !== 0 ? 'coral' : null }"
        >
          {{ odd }}
        </li>
      </div>
      <ng-template [ngIf]="onlyOdd">
        <br />
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p [appBetterHighlight]="'blue'" defaultColor="red" [textColor]="'white'">
        Style me with the better directive!
      </p>
      <span [ngSwitch]="value">
        <p *ngSwitchCase="10">
          Value is 10
        </p>
        <p *ngSwitchCase="100">
          Value is 100
        </p>
        <p *ngSwitchDefault>
          Defaulted
        </p>
      </span>
    </div>
  </div>
</div>
